#console {
    height: 300px;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    overflow: auto;
}

.editor-container button {
    margin: 10px;
}

.CodeMirror-code {
    font-size: 0.9rem;
}
.code-editor {
    overflow: hidden;
}